
.hero {
    background-size: cover;
    background-position: center bottom;
    min-height:800px;

        .form-container {
            max-width:500px;
        }
}

.message-ribbon {
    padding:25px 0px;
    text-align: center;
}

.page-content {
    margin-top:100px;

    .intro {
        text-align: center;
    }
}

.to-enter {
    margin-top:50px;
    margin-bottom:80px;
    position: relative;

        .italy-stamp {
            position: absolute;
            right:0px;
            top:-60px;
        }
}


.footer {

    background-image:url('../images/bravo-footer-strip.png');
    background-repeat:repeat-x;
    background-position: center bottom;
    padding-bottom:100px;

    .fine-print {
        margin:50px 0px;
            span {
                font-weight:500;
            }
    }
}

// Start Bravo Styles
.bravo {


    h4 {
        color:$pink;
        margin-bottom:20px;
    }

    .hero {
        background-image:url('../images/bravo-hero-bg.jpg');
            .form-container {
                background:rgba(241,237,233,0.7);
                min-height:200px;
                margin-top:75px;
                padding:40px 50px;

                    button {
                        width:100%;
                    }
            }
    }

    .message-ribbon {
        background-color:$pink;
        color:$white;
        font-size:4.375rem;
    }

    .about {
        background-color:$gray;
        min-height:200px;
        padding-top:70px;
        padding-bottom:100px;

            .video-container {
                margin-bottom:30px;
                img {
                    width:100%;
                }
            }
    }


}