.bravo {
	font-family: 'Oswald', sans-serif;
	font-size:16px;
	color: $dark-gray;

		a {
			color:$dark-gray;
			text-decoration: underline;

				&:hover {
					color:$black;
				}
		}

		.large {
			font-size:3.4375rem;
			margin-bottom:50px;
		}
}


.brio {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	color: $dark-gray;

		a {
			color:$white;
			text-decoration: underline;

				&:hover {
					color:$black;
				}
		}

		.large {
			font-size:3.4375rem;
			margin-bottom:0px;
			font-weight: 300;

				strong {
					font-weight:500;
				}

				span {
					margin-top:10px;
					display: block;
					font-size:4.375rem;
				}
		}
}



p {
	font-size:1.562rem;
}