body, html {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color: #363636;
}

.large {
  font-size: 3.4375rem;
  margin-bottom: 50px;
}

a {
  color: #363636;
  text-decoration: underline;
}

a:hover {
  color: #000000;
}

h4 {
  font-size: 2.187rem;
}

p {
  font-size: 1.562rem;
}

fieldset {
  margin-bottom: 15px;
}

fieldset.terms {
  font-size: 1.437rem;
}

fieldset.terms span {
  float: left;
  display: inline-block;
  width: calc(100% - 40px);
}

fieldset.terms input {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 10px;
}

input[type=text],
input[type=email] {
  background-color: #ffffff;
  border: 1px solid #eae4df;
  font-size: 1rem;
  padding: 13px;
  width: 100%;
}

label {
  font-size: 1.500rem;
  margin-bottom: 0px;
}

.btn {
  border: 0px;
  font-size: 2.187rem;
}

.btn.btn-primary {
  background-color: #c3327d;
}

.hero {
  background-size: cover;
  background-position: center bottom;
  min-height: 800px;
}

.hero .form-container {
  max-width: 500px;
}

.message-ribbon {
  padding: 25px 0px;
  text-align: center;
}

.page-content {
  margin-top: 100px;
}

.page-content .intro {
  text-align: center;
}

.to-enter {
  margin-top: 50px;
  margin-bottom: 80px;
  position: relative;
}

.to-enter .italy-stamp {
  position: absolute;
  right: 0px;
  top: -60px;
}

.footer {
  background-image: url("../images/bravo-footer-strip.png");
  background-repeat: repeat-x;
  background-position: center bottom;
  padding-bottom: 100px;
}

.footer .fine-print {
  margin: 50px 0px;
}

.footer .fine-print span {
  font-weight: 500;
}

.footer .banner {
  max-width: 1600px;
  width: 100%;
}

.bravo h4 {
  color: #c3327d;
  margin-bottom: 20px;
}

.bravo .hero {
  background-image: url("../images/bravo-hero-bg.jpg");
}

.bravo .hero .form-container {
  background: rgba(241, 237, 233, 0.7);
  min-height: 200px;
  margin-top: 75px;
  padding: 40px 50px;
}

.bravo .hero .form-container button {
  width: 100%;
}

.bravo .message-ribbon {
  background-color: #c3327d;
  color: #ffffff;
  font-size: 4.375rem;
}

.bravo .about {
  background-color: #eae4df;
  min-height: 200px;
  padding-top: 70px;
  padding-bottom: 100px;
}

.bravo .about .video-container {
  margin-bottom: 30px;
}

.bravo .about .video-container img {
  width: 100%;
}
